@using Reflect.Models
@model HomeViewModel
<div class="container">
   <br />
   <div class="row">
      @Html.Partial("~/Views/Question/_Ask.cshtml")

   </div>
   @if(Model != null) {
   <div class="row">
      <div class="col-md-12">
         @Html.Partial("~/Views/Question/_Questions.cshtml", Model.Questions)
      </div>
   </div>
   }
</div>