@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="col-md-8 col-md-push-4">
        <form>
            <label>Ja</label>
            <input type="checkbox" value="Ja"/>
            <label>Nej</label>

            <input type="checkbox" value="Nej"/>
            <label>Kanske</label>

            <input type="checkbox" value="Kanske"/>
            <input type="submit" value="Svara"/>
        </form>
    </div>
</div>

<div class="row">
    <div  class="col-md-12">
        <p>hej</p>
    </div>
</div>