
<form action="Question/Ask", method="post">
   <div class="form-group">
      <input type="text" class="form-control" name="title" id="title" placeholder="Titel" />
   </div>
   <div class="form-group">
      <textarea name="content" class="form-control" id="question" placeholder="Ställ din fråga"></textarea>
   </div>
   <button type="submit" class="btn btn-default btn-xl">Fråga</button>
</form>

